[package]
name = "firefly-axum"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
axum = "0.6"
tokio = { version = "1.0", features = ["full"] }
firefly-core = { path = "../firefly-core" }
